
.div1{
  margin: auto;
}
.div2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5%;
  width: 50%;
  margin-left: 20%;
  text-align: center;
}

.div3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5%;
  width: 50%;
  left: 30%;
  margin-left: 20%;
  text-align: center;
}

